*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima-nova', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center; 
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.field-group{
    display: grid;
    margin-left: 10px;
}

.label{
    margin-top: 10px;
    font-size: 25px;
}

.input-field{
    border-radius: 0px;
    height: 30px;
    width: 400px;
    border: 0;
    padding: 5px;
    background: #f4f4f4;
}

.input-field:hover{
    background: #eaeaea;
}

.input-field:focus{
    background: #cfcfcf;
    outline: none;
}

.parameter{
    display: flex;
    margin-top: 10px;
}

.parameter-text{
    font-size: 18px;
}

.text-field{
    border-radius: 0px;
    height: 30px;
    width: 400px;
    border: 0;
    padding: 5px;
    margin-left: 5px;
}

.button{
    margin-top: 10px;
    border-radius: 0px;
    height: 30px;
    width: 400px;
    border: 0;
    background: #56a2ff;
    text-align: left;
    padding-left: 10px;
}

.button:hover{
    background: #6fb0ff;
}

.button:active{
    background: #2889ff;
}

.error-message{
    width: 400px;
    background: #ffa3a3;
    margin-top: 10px;
    padding: 10px;
}

.result-message{
    width: 400px;
    background: #65ff9b;
    margin-top: 10px;
    padding: 10px;
}