<!DOCTYPE html>

<html>

    <head>
        <title>RSA</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/indexstyles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>  
    </head>

    <body class="body">

        <div class="field-group">

            <t class="label">Фраза</t>
            <textarea id="phrase" class="input-field" oninput="autoGrow(this)"></textarea>

            <button id="generate" class="button">Сгенерировать ключи</button>
            <button id="confirm" class="button">Зашифровать</button>

            <t id="resultMessage" class="result-message" hidden></t>
            <t id="errorMessage" class="error-message" hidden></t>

        </div>

        <div class="field-group">

            <div class="parameter">

                <t class="parameter-text">p =</t>
                <t id="p" class="text-field" disabled></t>

            </div>

            <div class="parameter">

                <t class="parameter-text">q =</t>
                <t id="q" class="text-field" disabled></t>

            </div>

            <div class="parameter">

                <t class="parameter-text">phi(n) =</t>
                <t id="phi" class="text-field" disabled></t>

            </div>

            <t class="label">Открытый ключ</t>

            <div class="parameter">

                <t class="parameter-text">e =</t>
                <t id="e" class="text-field" disabled></t>

            </div>

            <div class="parameter">

                <t class="parameter-text">n =</t>
                <t id="n1" class="text-field" disabled></t>

            </div>

            <t class="label">Закрытый ключ</t>

            <div class="parameter">

                <t class="parameter-text">d =</t>
                <t id="d" class="text-field" disabled></t>

            </div>

            <div class="parameter">

                <t class="parameter-text">n =</t>
                <t id="n2" class="text-field" disabled></t>

            </div>

        </div>        

    </body>

    <script src="/static/scripts/indexScripts.js"></script>

</html>