<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/indexstyles.css">
        <title>Таблица Трисемуса</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>

    <body class="body">

        <t class="label">Фраза</t>
        <input type="text" id="phrase" class="text-field"></input>

        <t class="label">Ключ</t>
        <input type="text" id="key" class="text-field"></input>

        <button id="confirm" class="button">Зашифровать</button>

        <t id="resultMessage" class="result-message" hidden></t>
        <t id="errorMessage" class="error-message" hidden></t>

        <table id="table" class="cipher-table"></table>

    </body>

    <script src="/static/scripts/indexScripts.js"></script>

</html>